<% content_for :header do %>
<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h2 style="color: #bf005f">
       <B> SỬA SẢN PHẨM </B>
      </h2>
    </div>
  </div>
</section>
<% end %>
<div class="pv4">
  <%= render 'form', instrument: @instrument %>
</div>


